<% if current_user %>
	<p>Hello <%=current_user.name %> |
	 <%= link_to 'sign out', logout_path, method: :delete %>
	 	|
	 <%= link_to 'new_post', new_post_path %>
	</p>
<% else %>
	<%= form_tag(signin_path, method: :post) do %>
		<form role="form" class="form-inline">
			<h4>Please Log In</h4>
			<div class="form-group">
				<%= label_tag :email %>
				<%= email_field_tag :email %>
			</div>
			<div class="form-group">
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			</div>
				<%= submit_tag "login" %>
	</form>
	<% end %>
<% end %>