<!DOCTYPE html>
<html>
<head>
  <title>Healthy Eats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<h1>Food Blog</h1>
			<%=render 'share/login'%> <%= link_to 'Home', '/' %>
			| <%= link_to 'Posts', posts_path %>
			| <%= link_to 'New User?', new_user_path %>
</nav>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end %>
	


<%= yield %>
</div>
</div>
</div>
</body>
</html>
